#main{
    margin-left: auto;
    margin-right: auto;
    width: 650px;
}

#greeting-container {
  margin-top: 20px;
}

.sideNav{
    height: 100%;
    position: fixed;
    z-index: 0;
    top: 50px;
    left:550px;
}

.sideNav a{
    padding: 8px 8px 16px 32px;
    display: block;
    text-decoration: none;
    color:black;
    font-size: 20px;
}

.sideNav a:hover{
    color:darkgray;
}

html{
  scroll-behavior: smooth;
  background-color: #FFFF;
}

body{
  font-family: monospace;
}